@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto');
#app {
  font-family: 'Roboto', sans-serif;
}
.name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 20px 0px 10px;
  font-size: 20px;
}
.office-name,
.email,
.phone {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.office-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.officials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-top: 75px;
}
.card-container {
  text-align: center;
  min-height: 210px;
  vertical-align: middle;
  width: 240px;
  margin: 10px 30px;
  background: #f5f5f5;
  padding: 40px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.img-container {
  max-width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  border: 5px solid gray;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.republican .img-container {
  border-color: red;
}
.democrat .img-container {
  border-color: blue;
}
.img-container.loading {
  opacity: 0;
}
.img-container.loaded {
  opecity: 1;
}
img {
  width: 100%;
}
