@import url('https://fonts.googleapis.com/css?family=Lato:700|Roboto');
#app {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0 auto;
  max-width: 1200px;
  background: #f5f5f5;
}
.app-header {
  position: relative;
  background: url('img/congress.svg') #b4cbff no-repeat;
  background-size: auto 95%;
  background-position: bottom;
  padding: 80px 20px;
}
.app-title {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}
.logo-img {
  max-width: 160px;
  margin: 0 auto;
  position: relative;
  top: 160px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.submit-btn {
  outline: none;
  border: none;
  color: white;
  background: blue;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 9px 10px;
  border-radius: 10px;
  margin-left: 30px;
}
.name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 20px 0px 10px;
  font-size: 20px;
}
.office-name,
.email,
.phone {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}
.office-name {
  font-size: 16px;
  margin-bottom: 15px;
}

.officials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-top: 75px;
}
.card-container {
  text-align: center;
  min-height: 210px;
  vertical-align: middle;
  width: 240px;
  margin: 10px 30px;
  background: #f5f5f5;
  padding: 40px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.portrait-container {
  max-width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
  position: relative;
  background: url('img/empty.svg');
}
.republican .portrait-container {
  background: url('img/star-red.svg');
}
.democrat .portrait-container {
  background: url('img/star-blue.svg');
}
.img-container {
  transition: all 0.5s ease;
}
.republican .img-container {
  border-color: red;
}
.democrat .img-container {
  border-color: blue;
}
.img-container.loading {
  opacity: 0;
}
.img-container.loaded {
  opacity: 1;
}

img {
  width: 100%;
}
